body { width: 100%;
    height: 100%;
    text-align: center;
    background-size: cover;
    margin-top: 7em;
    
   background-image: url(lespaul.jpg);
   background-repeat: no-repeat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8em


}
ul { list-style: none;
     padding: 0;}
#checklist {
    margin-top: 10em;
}

input { margin-top: 40px;
border-radius: 22px;
font-size:large;}

 input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 0.9em;
    
}
#itemInput { background-color: transparent;}

